{
    "rules": {
        "indent": [2, 2],
        "quotes": [2, "single", "avoid-escape"],
        "linebreak-style": [2, "unix"],
        "semi": [2, "never"],
        "comma-dangle": [2, "always-multiline"],
        "camelcase": [2, { "properties": "never" }],
        "spaced-comment": [2, "always"],
        "space-infix-ops": [2],
        "block-spacing": [2, "always"],
        "array-bracket-spacing": [2, "never"],
        "brace-style": [2, "1tbs"],
        "comma-spacing": [2, {"before": false, "after": true}],
        "comma-style": [2, "last"],
        "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
        "no-spaced-func": 2,
        "no-trailing-spaces": 2,
        "one-var": [2, "never"],
        "space-after-keywords": [2, "always"],
        "space-before-keywords": [2, "always"],
        "space-before-blocks": [2, "always"],
        "space-before-function-paren": [2, "never"],
        "eqeqeq": 2,
        "no-nested-ternary": 2,
        "no-unneeded-ternary": 2,
        "max-len": [1, 80, 4],
        "no-console": 0,
        "no-var": 2
    },
    "env": {
        "es6": true
    },
    "extends": "eslint:recommended"
}
